@import "../../edit-panel.component.scss";

.radio {
    label {
        margin-right: 10px;
        cursor: pointer;
    }
    input[type="radio"] {
        margin-right: 5px;
    }
}

.label-input {
    font-weight: bold;
    font-size: 12px;
    color: $gray-color;
    text-align: left;
}