@import "../../organisms/ve-dbpanel/ve-dbpanel.component.scss";

:host {
  height: inherit;
}

.label-input {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 1px;
    color: $gray-color;
    text-align: left;
}
