<div class="table-container">
  <table class="table">
    <thead class="table-header">
      <th
        *ngFor="let column of columns"
        class="header-item"
        [ngStyle]="column.sizePercent ? { 'width.%': column.sizePercent } : { 'width.%': defaultWidth }"
        (click)="makeOrder(col)">
        <strong>{{column.label}}</strong>
        <i *ngIf="column.sort" class="material-icons">{{column.sort == 'asc' ? 'arrow_downward' : 'arrow_upward'}}</i>
      </th>
    </thead>
    <tbody class="table-body">
      <tr
        *ngFor="let record of records"
        (click)="onRecordClick(record)"
        (dblclick)="onDblClick(selected)"
        class="table-line"
        [ngClass]="{ 'selected': selectedRecord && selectedRecord[pkField] === record[pkField] }"
      >
        <td
          *ngFor="let column of columns"
          class="table-line-col"
          [ngStyle]="column.sizePercent ? { 'width.%': column.sizePercent } : { 'width.%': defaultWidth }">
          {{record[column.name]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
