<div class="edit-panel" *ngIf="metadata">
  <app-dynamic-form
    *ngIf="mode == 'edit' || mode == 'new'"
    [metadata]="metadata"
    [reg]="selectedReg"
    (save)="onSave($event)"
    (focus)="onInputFocus($event)"
    (blur)="onInputBlur($event)"
    (change)="onInputChange($event)"
    (cancel)="onCancel()">
  </app-dynamic-form>

  <app-dynamic-grid
    *ngIf="mode == 'grid'"
    [metadata]="metadata"
    [regs]="regs"
    [selected]="selectedReg"
    (select)="onSelectReg($event)">
  </app-dynamic-grid>

  <div class="buttons" *ngIf="mode == 'grid'">
    <button type="button" (click)="onEdit()" class="btn btn-dark btn-sm" [disabled]="!selectedReg">Editar</button>
    <button type="button" (click)="onAdd()" class="btn btn-dark btn-sm">Adicionar</button>
  </div>
</div>