@import "../../organisms/ve-dbpanel/ve-dbpanel.component.scss";

:host {
  height: inherit;
}

.radio {
    label {
        margin-right: 10px;
        cursor: pointer;
    }
    input[type="radio"] {
        margin-right: 5px;
    }

    &.checkbox {
      margin-top: 32px;
    }
}

.label-input {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 1px;
    color: $gray-color;
    text-align: left;
}

form {
  height: inherit;
  display: flex;
  flex-direction: column;

  .form-content {
    margin-bottom: auto;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button:first-child {
      margin-right: 10px;
    }
  }
}
