<div class="h-100 d-flex flex-column justify-content-center align-items-center">
  <div class="container-fluid h-50 margin-bottom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-sm-3 h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="row login" [@login]="animation" (@login.done)="onAnimationDone()">
          <div class="icon">
            <i class="material-icons unselectable">account_circle</i>
          </div>
          <form [formGroup]="form" (submit)="login()" >
            <div class="form">
              <div class="input">
                <label>Usuário</label>
                <input type="text" id="username" formControlName="username" />
              </div>
              <div class="input">
                <label>Senha</label>
                <input type="password" id="password" formControlName="password" />
              </div>
              <div class="button">
                <button type="submit" [disabled]="isLoading || form.invalid" class="btn btn-dark login-button">Entrar</button>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="isLoading" class="row loading">
          <img src="../../../assets/images/loader.gif" width="25" height="25" />
        </div>
        <div *ngIf="message" class="row message">
          {{ message }}
        </div>
      </div>
    </div>
  </div>
</div>
