@import "../../organisms/ve-dbpanel/ve-dbpanel.component.scss";

:host {
  height: inherit;
}

.label-input {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 1px;
    color: $gray-color;
    text-align: left;
}

.btn-outline-secondary {
  position: relative;
  padding: 0px 20px;
  i {
    position: absolute;
    margin-left: -12px;
    margin-top: -11px;
  }
}
