<div class="db-table" *ngIf="!isLoading && isVisible">
  <h3 class="title unselectable">{{dbtable.name}}</h3>
  <app-ve-field
    *ngIf="mode == 'edit' || mode == 'new' || mode === 'copy'"
    [metadata]="dbtable"
    [data]="selected"
    (save)="onSave($event)"
    (focus)="onInputFocus($event)"
    (blur)="onInputBlur($event)"
    (change)="onInputChange($event)"
    (cancel)="onCancel()">
  </app-ve-field>

  <app-ve-grid
    *ngIf="mode == 'grid'"
    [metadata]="dbtable"
    [data]="data"
    [selected]="selected"
    (select)="onSelectReg($event)"
    (sdclick)="onDblClickReg($event)">
  </app-ve-grid>

  <div class="buttons" *ngIf="mode == 'grid'">
    <button *ngIf="!dbtableHandler.hasClipboard()" type="button" (click)="onCopy()" class="btn btn-light btn-sm">Copiar</button>
    <button *ngIf="dbtableHandler.hasClipboard()" type="button" (click)="onPaste()" class="btn btn-light btn-sm">Colar</button>
    <button type="button" (click)="onDelete()" class="btn btn-danger btn-sm" [disabled]="!selected">Delete</button>
    <button type="button" (click)="onEdit()" class="btn btn-secondary btn-sm" [disabled]="!selected">Editar</button>
    <button type="button" (click)="onAdd()" class="btn btn-dark btn-sm">Adicionar</button>
  </div>
</div>
<app-ve-loader *ngIf="isLoading"></app-ve-loader>
