.starter-template {
  padding: 3rem 1.5rem;
  width: 60%;
}

.spotlight-menu {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  background-color: #004c70;
  width: 11%;
  height: 6%;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  background-color: #004c70;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  .spotlight {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0px 5px 0px 5px;
    padding-top: 2px;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
    z-index: 9999;
  }

  .feature-name {
    height: 100%;
    color: white;
    padding: 8px 45px 2px 45px;
    text-shadow: 1px 1px 1px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    i {
      position: absolute;
      right: 10px;
      font-size: 15px;
      cursor: pointer;
    }
  }

  .selected {
    border-bottom: 2px solid white;
  }
}

.main-app {
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;

  .app-container {
    height: 97%;
    width: 100%;
  }
}

.user-info {
  margin: 35px 70px 0px 70px;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px 1px #000;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  .material-icons {
    font-size: 12px;
    margin-left: 5px;
  }
}

.dropdown {
  position: absolute;
  width: 150px;
  background-color: white;
  top: 25px;
  border-radius: 5px;
  left: -20px;
  -webkit-box-shadow: 1px 1px 1px 1px #000;
  -moz-box-shadow: 1px 1px 1px 1px #000;
  box-shadow: 1px 0px 1px 0px #000;

  .dropdown-item {
    padding: 10px 8px;
    text-shadow: none;
    border-radius: 5px;
    font-size: 14px;
  }
}

.items {
  display: flex;
  justify-content: center;
  align-content: center;

  .item:hover {
    cursor: pointer;

    span {
      text-decoration: underline;
    }
  }

  .item {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

    i {
      color: #fff;
      font-size: 40px;
      text-shadow: 1px 1px 1px #000;
    }

    span {
      display: block;
      margin-top: 5px;
      color: #fff;
      font-size: 12px;
      text-shadow: 1px 1px 1px #000;
    }
  }
}

.copyright {
  color: #fff;
  font-size: 10px;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 10px;
}
