<form *ngIf="metadata" (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <div class="form-content">
    <div *ngFor="let line of lines" class="form-group row">
      <div *ngFor="let field of line.fields" [class]="'col-md-' + field.size">
        <div *ngIf="[ViewEngineFieldType.TEXT, ViewEngineFieldType.NUMBER].includes(field.type)">
          <label class="label-input" [for]="field.name">{{ field.label }}</label>
          <input
            type="text"
            class="form-control form-control-sm"
            [id]="field.name"
            [formControlName]="field.name"
            [value]="data[field.name] || ''"
            [name]="field.name"
            [mask]="field.mask"
            (change)="onInputChange($event)"
            (blur)="onInputBlur($event)"
            (focus)="onInputFocus($event)">
        </div>

        <div *ngIf="field.type === ViewEngineFieldType.TEXTAREA">
          <label class="label-input" [for]="field.name">{{ field.label }}</label>
          <textarea
            class="form-control form-control-sm"
            [id]="field.name"
            [formControlName]="field.name"
            [name]="field.name"
            (change)="onInputChange($event)"
            (blur)="onInputBlur($event)"
            (focus)="onInputFocus($event)">
            {{ data[field.name] || '' }}
            </textarea>
        </div>

        <div *ngIf="field.type === ViewEngineFieldType.COMBO">
          <label class="label-input" [for]="field.name">{{ field.label }}</label>
          <select
            *ngIf="field.domain"
            class="form-control form-control-sm"
            [id]="field.name"
            [formControlName]="field.name"
            [name]="field.name"
            (change)="onInputChange($event)"
            (blur)="onInputBlur($event)"
            (focus)="onInputFocus($event)">
            <option
              *ngFor="let domain of field.domain.options"
              [value]="domain.value">
                {{domain.id}}
              </option>
          </select>
        </div>

        <div *ngIf="field.type === ViewEngineFieldType.RADIO">
          <label class="label-input">{{ field.label }}</label>
          <div class="radio">
            <label
              *ngFor="let domain of field.domain"
              class="radio-inline">
              <input
                type="radio"
                [id]="field.name"
                [formControlName]="field.name"
                [name]="field.name"
                (change)="onInputChange($event)"
                (blur)="onInputBlur($event)"
                (focus)="onInputFocus($event)"
                [checked]="data[field.name] == domain.value"
                [value]="domain.value">{{ domain.label }}
            </label>
          </div>
        </div>

        <div *ngIf="field.type ===  ViewEngineFieldType.CHECKBOX">
          <div class="radio checkbox">
            <label
              class="radio-inline">
              <input
                type="checkbox"
                [id]="field.name"
                [formControlName]="field.name"
                [name]="field.name"
                (change)="onInputChange($event)"
                (blur)="onInputBlur($event)"
                (focus)="onInputFocus($event)"
                [checked]="data[field.name] == field.value"
                [value]="field.value"> {{ field.desc }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button type="button" (click)="onCancel()" class="btn btn-outline-dark btn-sm">Cancelar</button>
    <button type="submit" class="btn btn-dark btn-sm">Salvar</button>
  </div>
</form>
