@import "../../organisms/ve-dbtable/ve-dbtable.component.scss";

:host {
  height: inherit;
}

.label-input {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 1px;
    color: $gray-color;
    text-align: left;
}

.radio {
  label {
    margin-right: 10px;
    cursor: pointer;
  }
  input[type="radio"] {
    margin-right: 5px;
  }
}
